<div class="row">
    <div class="col-10">
        <h1>Información del perfil</h1>
    </div>
    <div class="col">
        {% if user is same as(app.user) %}
            <a href="{{ path('user_edit') }}" class="btn btn-light">Editar perfil</a>
        {% else %}
            {{ form_start(seguir_form) }}
                {{ form_widget(seguir_form.seguirUsuario) }}
                {{ form_row(seguir_form.seguir) }}
            {{ form_end(seguir_form) }}
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-9">
        <div class="card bg-dark">
            <div class="card-body">
                <p class="card-text">Username: {{ user.username }}</p>
                <p class="card-text">Email: {{ user.email }}</p>
                <p class="card-text">Descripción: {{ user.description }}</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card bg-dark">
            <div class="card-body">
                <p class="card-text {% if user.isPublic %} text-success {% else %} text-danger {% endif %}">Perfil {% if user.isPublic %} público {% else %} privado {% endif %}</p>
                <p class="card-text">Número de seguidores: {{ user.myFriends.count }}</p>
                <p class="card-text">Usuarios seguidos: {{ user.friendsWithMe.count }}</p>
            </div>
        </div>
    </div>
</div>